@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .primary-btn-icon {
        @apply 
        bg-emerald-500
        rounded-3xl
        text-neutral-100
        hover:text-slate-800
        hover:bg-emerald-400 
        hover:rounded-2xl 
        py-4 px-8
        tracking-widest 
        shadow-inner 
        hover:shadow-2xl
        hover:font-semibold
        transition-all 
        duration-200 
        ease-linear
    };

    .text-info {
        @apply
        bg-indigo-700
        hover:bg-indigo-800
        text-center
        text-white
        rounded-2xl
        tracking-widest
        ml-28 mr-28
        mt-5 mb-14
        p-10
        shadow-2xl
        hover:shadow-inner
        hover:shadow-black
        hover:rounded-3xl
        duration-700
        ease-linear
    };

    .secondary-btn-icon {
        @apply
        bg-orange-400
        rounded-2xl
        text-white
        hover:text-lg
        py-6 px-8
        mt-4
        w-60
        shadow-inner 
        hover:shadow-xl
        hover:rounded-xl 
        hover:font-semibold
        transition-all 
        duration-500 
        ease-linear
    };

};